@font-face {
  font-family: "Rowdies";
  src: url("../src/assets/fonts/rowdies/Rowdies-Regular.woff2") format("woff2"),
    url("../src/assets/fonts/rowdies/Rowdies-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../src/assets/fonts/montserrat/Montserrat-Regular.woff2")
      format("woff2"),
    url("../src/assets/fonts/montserrat/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

:root {
  background-color: #090707;
}

.active {
  font-weight: 700;
  border-bottom: 1px solid #fff;
}

.page-item {
  background: none;
}

.pagination .page-link {
  background: none;
  border: none;
  color: #fff;
  padding: 4px;
  font-size: medium;
}

.pagination .active > .page-link {
  background: none;
}
.pagination .page-link:hover {
  color: #fff;
  background: none;
}

.pagination {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination .disabled > .page-link {
  background: none;
}

.page-link span {
  font-size: 20px;
}
